
/* 
	Home page CSS for sreenaths.com
*/

.paralax-container{
	text-align: center;
	height: 600px;

	.inner-block {
		width: 1024px;
		height: 100%;
		display: inline-block;
		position: relative;
		margin: 0px 10px 0px 10px;

		div {
			position: absolute;
			background-repeat: no-repeat;
		}
	}
}

.current-assignment {
	.sub-heading {
		border-bottom: 1px solid #CCCCCC;
		margin-bottom: 10px;
	}
	.company-logos {
		a {
			margin: 10px 20px 10px 20px;
			img {
				padding: 10px 0 10px 0;
			}
		}
	}
}

.contacts {
	.sub-heading {
		margin-bottom: 10px;
		border-bottom: 1px solid #CCCCCC;
	}
	.calls {
		img {
			vertical-align: middle;
		}
	}
}