
/* 
	Home page CSS for sreenaths.com
*/

.paralax-container{
	text-align: center;
	height: 600px;

	.inline-block {
		div {
			position: absolute;
			background-repeat: no-repeat;
		}
	}
}

.current-assignment {
	height:270px;

	.sub-heading {
		border-bottom: 1px solid #CCCCCC;
	}
	.description {
		a {
			margin-left: 75px;
			&:first-child {
				margin-left: 40px;
			}
		}
	}
}

.contacts {
	height:180px;
	.sub-heading {
		border-bottom: 1px solid #CCCCCC;
	}
	.calls {
		img {
			vertical-align: middle;
		}
	}
}