---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Sreenath Somarajapuram" bodyClass="about-page">

  <div class="about-page">

    <div class="title-bar outer-block grey-gradiant-half">
      <div class="inner-block v-padding-2x">

        <div class="heading">About Me</div>
        <div class="sub-heading">
          Software Engineer, Design and Technology Enthusiast from Bangalore, India.
        </div>

        <div class="center">
          <img class="cover-image" src="/images/me2.png" alt="Sreenath" />
        </div>

        <div class="description">
          <p>I am a designer by heart and a programmer by profession. User interfaces are what I love creating. What drives me the most is the thrill of designing the best experiences on various platforms.</p>
          <p>Currently I'm working as a Senior Software Engineer at Hortonworks, the Hadoop company. I'm a big fan of ECMA based scripting languages, and I love working on user facing elements.</p>
          <p>When I'm not with my keyboard, you might find me on a saddle or behind few lenses. I love travelling; nothing makes me happier than seeing new places and meeting new people. I believe every single person have a different story to tell, and new things to teach. I enjoy movies, music and art, I also love theoretical physics, and I believe that we are not alone in this Universe.</p>
        </div>

      </div>
    </div>

    <div class="facts-bar outer-block inner-shade bg1">
      <div class="inner-block v-padding-2x">
        <div class="sub-heading">Random stuffs about me</div>
        <div class="description">
          <ul>
            <li>I prefer the red pill</li>
            <li>I firmly believe that we will create time machine and warp drives</li>
            <li>Batman and Superman are my super heroes</li>
            <li>I'm waiting for a Pleiadian encounter</li>
            <li>The world can be a better place</li>
            <li>Love those little minions</li>
            <li>I'm a believer in my own ways</li>
            <li>The matrix trilogy and Inception are my favorite movies</li>
          </ul>
        </div>

        <div class="center">
          <img class="super-heros" src="/images/men.png" alt="" />
        </div>
      </div>
    </div>

  </div>

</Layout>
