---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact - Sreenath Somarajapuram" bodyClass="contacts-page">

  <div class="contacts-page">

    <div class="outer-block grey-gradiant-half">
      <div class="inner-block v-padding-2x">

        <div class="heading">Contact Me</div>
        <div class="sub-heading">
          Want to team up and create something great, let's get in touch!
        </div>

        <div class="description v-padding-2x">
          <a title="facebook" href="https://www.facebook.com/sreenathsomarajapuram" class="hover-black">
            <img src="/images/icons/facebook-icon-2.png" align="middle" alt="Facebook" />
            &nbsp;Friend me over facebook
          </a>
          <a title="e-mail" href="mailto:mailme@sreenaths.com" class="hover-black">
            <img src="/images/icons/mail-icon-2.png" align="middle" alt="Email" />
            &nbsp;mailme@sreenaths.com
          </a>
          <a title="linkedin" href="https://in.linkedin.com/pub/sreenath-somarajapuram/24/993/a84" class="hover-black">
            <img src="/images/icons/linkedin-icon-2.png" align="middle" alt="LinkedIn" />
            &nbsp;Connect with me on linkedin
          </a>
          <a title="blogger" href="http://myauxiliarymemory.blogspot.in/" class="hover-black">
            <img src="/images/icons/blogger-icon-2.png" align="middle" alt="Blogger" />
            &nbsp;Checkout my blog
          </a>
        </div>

        <div class="center">
          <img class="cover-image" src="/images/contact-me.png" alt="" />
        </div>

      </div>
    </div>

  </div>

</Layout>
