---
import Layout from '../layouts/Layout.astro';
import '../styles/home.less';

const yearsOfExperience = new Date().getFullYear() - 2008;
---

<Layout title="Sreenath Somarajapuram" bodyClass="home-page">

  <div class="paralax-container grey-gradiant" style="opacity:0;">
    <div class="inner-block">
      <div data-x="1400" style="left:835px;top:440px;background-image:url('/images/techIcons/ruby.png');width:70px;height:88px;">&nbsp;</div>
      <div data-x="1200" style="left:650px;top:490px;background-image:url('/images/techIcons/unity.png');width:220px;height:101px;">&nbsp;</div>
      <div data-x="-50"  style="left:135px;top:250px;background-image:url('/images/techIcons/shell.png');width:100px;height:84px;">&nbsp;</div>
      <div data-x="-10"  style="left:160px;top:320px;background-image:url('/images/techIcons/php.png');width:120px;height:70px;">&nbsp;</div>
      <div data-x="1000" style="left:815px;top:330px;background-image:url('/images/techIcons/java.png');width:170px;height:95px;">&nbsp;</div>
      <div data-x="1000" style="left:550px;top:70px;background-image:url('/images/techIcons/c.png');width:60px;height:71px;">&nbsp;</div>
      <div data-x="800"  style="left:495px;top:110px;background-image:url('/images/techIcons/cpp.png');width:170px;height:84px;">&nbsp;</div>
      <div data-x="900"  style="left:750px;top:130px;background-image:url('/images/techIcons/starling.png');width:160px;height:196px;">&nbsp;</div>
      <div data-x="1000" style="left:695px;top:100px;background-image:url('/images/techIcons/as3.png');width:85px;height:85px;">&nbsp;</div>
      <div data-x="1000" style="left:720px;top:400px;background-image:url('/images/techIcons/node.png');width:90px;height:110px;">&nbsp;</div>
      <div data-x="850"  style="left:700px;top:280px;background-image:url('/images/techIcons/ember.png');width:110px;height:110px;">&nbsp;</div>
      <div data-x="900"  style="left:700px;top:230px;background-image:url('/images/techIcons/jquery.png');width:180px;height:44px;">&nbsp;</div>
      <div data-x="800"  style="left:580px;top:370px;background-image:url('/images/techIcons/css3.png');width:100px;height:140px;">&nbsp;</div>
      <div data-x="700"  style="left:450px;top:300px;background-image:url('/images/techIcons/html5.png');width:127px;height:170px;">&nbsp;</div>
      <div data-x="900"  style="left:570px;top:190px;background-image:url('/images/techIcons/javascript.png');width:131px;height:172px;">&nbsp;</div>
      <div style="left:60px;top:0px;pointer-events:none;">
        <img src="/images/me.png" alt="Sreenath Somarajapuram" />
      </div>
    </div>
  </div>

  <div class="outer-block bg1 v-padding current-assignment">
    <div class="inner-block v-padding">
      <div class="center">
        <div class="sub-heading">My Current Assignments</div>
        <div class="company-logos">
          <a href="http://apache.org/"><img height="100" src="/images/apache.png" alt="Apache" /></a>
          <a href="https://www.cloudera.com/"><img height="45" src="/images/cloudera.png" alt="Cloudera" /></a>
          <a href="https://gethue.com/"><img height="45" src="/images/hue.svg" alt="Hue" /></a>
        </div>
        <div class="v-padding description">
          Software professional with over {yearsOfExperience} years of industry experience, preceded by six years of freelance work designing and developing innovative web, mobile, desktop, and enterprise applications. As a member of the Apache Software Foundation, I have devoted a substantial portion of the past decade to working with open-source big data platforms, spanning on-premise clusters and public cloud environments.
          <br />
          <br />
          Since 2022, I have been conducting research and development in the field of text-to-SQL generation and related AI-driven natural language interfaces.
        </div>
      </div>
    </div>
  </div>

  <div class="outer-block inner-shade bg2 v-padding-2x contacts">
    <div class="inner-block">
      <div class="center">
        <div>
          <a title="E-Mail" href="mailto:somarajapuram@gmail.com">
            <img src="/images/icons/mail-icon.png" alt="Email" />
          </a>
          <a title="Phone" href="tel:+16692350025">
            <img src="/images/icons/phone-icon.png" alt="Phone" />
          </a>
          <a title="LinkedIn" href="https://www.linkedin.com/in/somarajapuram/">
            <img src="/images/icons/linkedin-icon.png" alt="LinkedIn" />
          </a>
          <a title="GitHub" href="https://github.com/sreenaths">
            <img src="/images/icons/github-icon.png" alt="GitHub" />
          </a>
          <a title="Facebook" href="https://www.facebook.com/sreenathsomarajapuram">
            <img src="/images/icons/facebook-icon.png" alt="Facebook" />
          </a>
        </div>
      </div>
    </div>
  </div>

</Layout>

<script>
  import { initiateImgParallax, initParallaxResize } from '../scripts/parallax';

  const parallaxContainer = document.querySelector<HTMLElement>('.paralax-container');
  if (parallaxContainer) {
    initiateImgParallax(parallaxContainer);
  }

  initParallaxResize();
</script>
