{{#import "shared/header-footer"}}

	<link rel="stylesheet" type="text/css" href="css/home.css">

	<div class="paralax-container grey-gradiant">
		<div class="inline-block">
			<div x="1400" style="left:835px;top:440px;background-image: url('images/techIcons/ruby.png');width:70px;height:88px;"/>&nbsp;</div>
			<div x="1200" style="left:650px;top:490px;background-image: url('images/techIcons/unity.png');width:220px;height:101px;"/>&nbsp;</div>
			<div x="-50" style="left:135px;top:250px;background-image: url('images/techIcons/shell.png');width:100px;height:84px;"/>&nbsp;</div>
			<div x="-10" style="left:160px;top:320px;background-image: url('images/techIcons/php.png');width:120px;height:70px;"/>&nbsp;</div>
			<div x="1000" style="left:815px;top:330px;background-image: url('images/techIcons/java.png');width:170px;height:95px;"/>&nbsp;</div>
			<div x="1000" style="left:550px;top:70px;background-image: url('images/techIcons/c.png');width:60px;height:71px;"/>&nbsp;</div>
			<div x="800" style="left:495px;top:110px;background-image: url('images/techIcons/cpp.png');width:170px;height:84px;"/>&nbsp;</div>

			<div x="900" style="left:750px;top:130px;background-image: url('images/techIcons/starling.png');width:160px;height:196px;"/>&nbsp;</div>
			<div x="1000" style="left:695px;top:100px;background-image: url('images/techIcons/as3.png');width:85px;height:85px;"/>&nbsp;</div>

			<div x="1000" style="left:720px;top:400px;background-image: url('images/techIcons/node.png');width:90px;height:110px;"/>&nbsp;</div>
			<div x="850" style="left:700px;top:280px;background-image: url('images/techIcons/ember.png');width:110px;height:110px;"/>&nbsp;</div>
			<div x="900" style="left:700px;top:230px;background-image: url('images/techIcons/jquery.png');width:180px;height:44px;"/>&nbsp;</div>
			<div x="800" style="left:580px;top:370px;background-image: url('images/techIcons/css3.png');width:100px;height:140px;"/>&nbsp;</div>
			<div x="700" style="left:450px;top:300px;background-image: url('images/techIcons/html5.png');width:127px;height:170px;"/>&nbsp;</div>
			<div x="900" style="left:570px;top:190px;background-image: url('images/techIcons/javascript.png');width:131px;height:172px;"/>&nbsp;</div>

			<div x="0" style="left:60px;top:0px;pointer-events:none;">
				<img src="images/me.png"/>
			</div>
		</div>
	</div>

	<script src="js/parallax.js"></script>

	<div class="center bg1 v-padding current-assignment">
		<div class="inline-block v-padding">
			<div class=center>
				<div class="sub-heading">My Current Assignment</div>
				<div class="v-padding description">
					<a href="http://tez.apache.org/"><img src="images/tez.png"></a>
					<a href="http://hortonworks.com/"><img src="images/hwx.png"></a>
					<a href="http://apache.org/"><img height=100px src="images/apache.png"></a></br>
					Apache&#8482; Tez is an extensible framework for building high performance batch and interactive data processing applications, coordinated by YARN in Apache Hadoop. Tez improves the MapReduce paradigm by dramatically improving its speed, while maintaining MapReduce's ability to scale to petabytes of data. As member of Hortonworks my contributions are in the development of TEZ user interface.
				</div>
			</div>
		</div>
	</div>

	<div class="center inner-shade bg2 v-padding contacts">
		<div class="inline-block v-padding">
			<div class="center">
				<div class="sub-heading">Contact Me</div>
				<div class="v-padding">
					<a title="E-Mail" href="mailto:mailme@sreenaths.com" ><img src="images/icons/mail-icon.png" /></a>
					<a title="Facebook" href="http://www.facebook.com/sreenathsomarajapuram" ><img src="images/icons/facebook-icon.png" /></a>
					<a title="LinkedIn" href="http://in.linkedin.com/pub/sreenath-somarajapuram/24/993/a84" ><img src="images/icons/linkedin-icon.png" /></a>
					<a title="Blogger" href="http://myauxiliarymemory.blogspot.in/" ><img src="images/icons/blogger-icon.png" /></a>
					<a title="Google+" href="https://plus.google.com/u/0/107899876735168906791/about" ><img src="images/icons/google-icon.png" /></a>
					<div class="v-padding calls">
						<a href="skype:sreenath-s?add" class="skype-link">
							<img src="images/icons/skype.png">
							<span class="small-text">Feel free to skype me at <i>sreenath-s</i></span>
							<img src="images/plus-button.png">
						</a><br/>
						<a href="tel:+919611745548">
							<img src="images/icons/phone.png">
							<span class="small-text">Or call me at <i>+91-9611-745548</i></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{{/import}}