<!DOCTYPE html>
<html>

	<head>
		<title>{{{title}}}</title>

		<!-- Load styles -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="icon" type="image/png" href="favicon.png">

		<!-- Image preloads -->
		<link rel="stylesheet" href="images/loader.gif"/>

		<!-- Load scripts -->
		<script src="js/jq.js"></script>
		<script src="js/shared.js"></script>
	</head>

	<body class="landscape {{bodyClass}}">

		<div class="loading-msg">
			<img src="images/ss.png">
			Loading</br>
			<img src="images/loader.gif">
		</div>

		<div class="main-container">
			<script>initLoaderAnim();</script>

			<!-- Image preloads -->
			<img src="images/bg-header.jpg" class="hidden"/>

			<div class="header center">
				<div class="inline-block">
					<a href="index">
						<div class="logo"></div>
						<div class="name">Sreenath Somarajapuram</div>
					</a>
					<div class="menu">
						<a class="home-link" href="index">home</a>
						<a class="about-link" href="about">about</a>
						<a class="projects-link" href="projects">projects</a>
						<a class="contacts-link" href="contacts">contacts</a>
					</div>
				</div>
			</div>

			{{import}}

			<div class="footer center">
				<div class="inline-block">
					<div class="small-text">Copyright 2017 Sreenath Somarajapuram</div>

					<div class="float-right menu">
						<a href="index" class="hover-black">home</a>
						<a href="about" class="hover-black">about</a>
						<a href="projects" class="hover-black">projects</a>
						<a href="contacts" class="hover-black">contacts</a>

						<div class="float-right">
							<a href="javascript:scrollTop();" class="hover-black">&#8682;</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</body>
</html>